:root {
    /* Degradado */
    --color-oscuro: #8884cf;
    --color-medio: #a7a9d4;
    --color-claro: #b2b4ce;

    --color: #fff;
    --color-secundario: #a87b94;
    --color-sombra: #a292bc;
    --border-radius: 10px;
    --sombra: 0.2rem 0.2rem 0.4rem #626aa3;
}

body {
    background-color: #ececec;
    font-size: 10px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.header {
    padding: 1rem;
    margin-bottom: 1.7rem;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.4rem #000;
    box-shadow: var(--sombra);
    color: var(--color);
    background: linear-gradient(
        178deg,
        var(--color-oscuro) 12%,
        var(--color-medio) 28%,
        var(--color-claro) 89%
    );
}

/* menú */

.lista {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
.listaEnlace {
    padding: 8px;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
    transition: all 0.3s ease-out;
    color: #e8e9ee;
    background-color: var(--color-secundario);
}
.listaEnlace:hover {
    box-shadow: var(--sombra);
}

/* Contenido */

/* Contenedor principal */
.mainContainer {
    margin: 0 2rem;
    font-size: 1.1rem;
}
.mainContainer p {
    line-height: 2rem;
    margin: 1rem;
}

.convertidores {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
}

.convertidores .convertir {
    margin: 1rem;
    text-align: center;
    border-radius: var(--border-radius);
    color: #423c4b;
    background-color: #cfd0da;
    max-width: 45%;
}
.convertidores .convertir:hover {
    box-shadow: 0.1rem 0.1rem 0.7rem var(--color-sombra);
    /*box-shadow: Derecha abajo diseminación color(0, 0, 0, visibilidad);*/
}

.textoResaltado {
    color: var(--color-secundario);
    text-shadow: 0 0 3px var(--color-sombra);
}

.padding {
    margin: 0.4rem;
    padding: 0.5rem 3%; /* No cambiar el % */
}

.h2Convertir {
    font-size: 1.3em;
}

.inputNumber {
    width: 85%;
}
.buttonConvertir {
    cursor: pointer;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-sombra);
}
.buttonConvertir:hover {
    background-color: var(--color-secundario);
}

/* 


Section Explicación
*/
.explication .explicationH2 {
    text-align: center;
}

/* img Explicación parte hexadecimal */
.imagenDivisionHexadecimal,
.imagenDivisionHexadecimalDos {
    margin: 0 30%;
}
.imagenDivisionHexadecimal {
    height: 20em;
}
.imagenDivisionHexadecimalDos {
    height: 6em;
}

/* tablas en general */
.tableNumbers,
.tableHexadecimal {
    text-align: center;
    width: 80%;
    border-collapse: collapse; /*no permite que cada celda tenga borde independiente*/
    margin: 0 auto;
    table-layout: fixed; /* Esto asegura que todas las celdas tengan el mismo ancho */
}
.tableNumbers {
    width: 80%;
}
.tableHexadecimal {
    width: 25%;
}

/* Filas y columnas de las tablas */
.tableNumbers th,
.tableNumbers td {
    border: solid 1px var(--color-secundario);
    padding: 8px;
    /*En este caso padding crea más espacio entre elementos, ya que se aplica a cada uno*/
    width: 8.2%;
    word-wrap: break-word; /* Para que el contenido largo se ajuste */
}

.tableNumbers th {
    background-color: var(--color-secundario);
    color: #e8e9ee;
}

/* tr:nth-child() permite seleccionar ciertos elementos en particular */
.tableNumbers tr:nth-child(even) {
    background-color: #dfdfe4;
}

/* Footer en general */

.footer {
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--color);
    border-radius: var(--border-radius);
    background: #8884cf;
    background: linear-gradient(
        178deg,
        var(--color-oscuro) 12%,
        var(--color-medio) 28%,
        var(--color-claro) 89%
    );
}

.sectionFooter {
    display: flex;
    justify-content: space-between;
}

/* Contenido footer */

.footer .footerYear {
    margin: 0;
}
.footer .irInicio {
    color: var(--color);
    transition: color 0.3s linear;
}
.footer .irInicio:hover {
    color: var(--color-secundario);
    text-shadow: 0 0 3px var(--color-sombra);
}

@media screen and (max-width: 750px) {
    /* Navegador */
    .desaparecer {
        display: none;
    }
    /* Convertidores */
    .convertidores {
        font-size: 0.6rem;
    }
    .padding {
        padding: 0.3rem;
        margin: 0.1rem;
    }
    .convertidores .convertir {
        margin: 1rem;
        max-width: 40%;
    }
    .inputNumber {
        width: 60%;
    }

    .buttonConvertir {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    /* Explicación */
    .tableNumbers {
        width: 100%;
    }
    .tableDecimal,
    .tableBinario,
    .tablaMultiplicar {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px) {
    .header {
        font-size: clamp(0.8rem, 1vw, 1rem);
        padding: 0.5rem;
    }
    .header,
    .convertidores .pSpan {
        margin-bottom: 0;
        margin-top: 0;
    }
    .convertidores .convertir {
        margin: 1rem;
        max-width: 80%;
    }
    .nav,
    .initialText {
        display: none;
    }
    .img {
        height: minmax(min(160px), auto);
        margin: 0;
    }
    .tableNumbers {
        font-size: 0.8rem;
    }
}
